@font-face {
  font-family: SFProDisplay-Light;
  src: url(../assets/fonts/SFProDisplay-Light.woff);
}

@font-face {
  font-family: SFProDisplay-Medium;
  src: url(../assets/fonts/SFProDisplay-Medium.woff);
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url(../assets/fonts/SFProDisplay-Heavy.woff);
}

@font-face {
  font-family: SFProDisplay-Black;
  src: url(../assets/fonts/SFProDisplay-Black.woff);
}

.font_light {
  font-family: "SFProDisplay-Light";
}

.font_medium {
  font-family: "SFProDisplay-Medium";
}

.font_heavy {
  font-family: "SFProDisplay-Heavy";
}

.font_black {
  font-family: "SFProDisplay-Black";
  color: #ff3e9b;
}

.walpapper {
  position: absolute;
  z-index: -1;
  float: left;
}

.walpapper1 {
  left: 0;
  bottom: -100px;
  width: 600px;
}

.walpapper2 {
  right: 0;
  width: 200px;
}

.walpapper3 {
  left: 0;
  top: -50px;
  height: 200px;
}

.walpapper4 {
  right: 0;
  height: 350px;
}

.walpapper_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
}

.walpapper_bottom_div {
  position: relative;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SFProDisplay-Light";
  color: white;
}

body {
  background: linear-gradient(180deg, #494949, #0d0d0d);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img {
  width: 100%;
}

.background_block {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.background_block::before {
  opacity: 0.5;
}

.logo {
  width: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  text-decoration: none;
}

.logo > img {
  width: 70%;
}

.headerEmptyBox {
  height: 80px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #494949;
  color: #f3f3f3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 80px;
  font-size: 24px;
  z-index: 100;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.mobile {
  display: none;
}

.pc {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  z-index: 1;
}

nav ul li {
  margin: 0 15px;
  display: flex;
  z-index: 1;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  z-index: 1;
}

nav ul li a:hover {
  color: #ddd;
  z-index: 1;
}

.contact-button {
  width: 200px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  background: no-repeat center center;
  background-size: cover;
  color: #ff3e9b;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50px;
  border: 1px solid;
  z-index: 1;
}

.contact-button:hover {
  opacity: 0.8;
  z-index: 1;
}

.info-first-left {
  margin: 55px 20px;
  width: 44%;
  height: 35%;
  z-index: 1;
}

footer {
  background-color: #494949;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 1;
}

.footer_img {
  width: 20%;
  z-index: 1;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  z-index: 1;
}
.main_right {
  background-image: url("../assets/img/main_right.svg");
  width: 898px;
  height: 898px;
  display: flex;
  align-items: center;
  margin: 0px 7px;
  z-index: 1;
}

.main_left {
  width: 898px;
  height: 898px;
  margin: 0px 7px;
  z-index: 1;
}

.main_top {
  background-image: url("../assets/img/main_top.svg");
  display: flex;
  width: 100%;
  height: 625px;
  align-items: center;
  z-index: 1;
}

.main_bottom {
  background-image: url("../assets/img/main_bottom.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 259px;
  padding: 10% 5%;
  margin-top: 14px;
  font-size: 32px;
  z-index: 1;
}

.left_img {
  width: 50%;
  padding: 0px 60px;
  z-index: 1;
}

.left_text {
  width: 60%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.air {
  width: 100%;
  height: 20vh;
  z-index: 1;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 76px;
  z-index: 1;
  position: relative;
}

.article_block {
  width: 1427px;
  height: 540px;
  padding-left: 55px;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/article.svg);
  z-index: 1;
}

.section_text {
  font-size: 80px;
  padding: 100px 0px;
  z-index: 1;
}

.section_img > img {
  margin: 0px 23px;
  z-index: 1;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 170px;
  z-index: 1;
}

.main_partners {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.menu {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 80px;
  right: 0;
  transform: translateY(-130%);
  transition: all 0.2s;
  z-index: 20;
}

.menu.active {
  transform: translateY(0);
  z-index: 20;
}

.menu__content {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Menu.svg");
  flex-direction: column;
  transition: all 0.4s;
  font-size: 20px;
  z-index: 20;
}

li {
  list-style-type: none;
  z-index: 1;
}

ul {
  margin-left: 0;
  padding-left: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  padding-left: 35px;
  align-items: center;
  z-index: 1;
}

ul li a {
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main_bottom_mobile {
  display: none;
}

@keyframes float1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 1800px) {
  .main_left {
    width: 718px;
    height: 718px;
  }

  .left_text {
    font-size: 25px;
  }

  .left_img {
  width: 50%;
  padding: 0px 50px;
  z-index: 1;
}

  .main_right {
    width: 718px;
    height: 718px;
  }

  .main_top {
    height: 498px;
    font-size: 25px;
  }

  .main_bottom {
    height: 206px;
    font-size: 25px;
  }

  .walpapper {
    width: 320px;
    animation: float1 6s ease-in-out infinite;
  }

  .walpapper2 {
    width: 160px;
    animation: float2 6s ease-in-out infinite;
  }

  .article_block {
    font-size: 38px;
    width: 1141px;
    height: 432px;
  }

  .phone2 {
    width: 333px;
  }
}

@media screen and (max-width: 1420px) {
  .main_left {
    width: 570px;
    height: 570px;
  }

  .left_img {
  width: 50%;
  padding: 0px 40px;
  z-index: 1;
}

  .left_text {
    font-size: 17px;
  }

  .main_right {
    width: 570px;
    height: 570px;
  }

  .main_top {
    height: 393px;
  }

  .main_bottom {
    height: 160px;
    font-size: 17px;
  }

  .walpapper {
    width: 256px;
  }

  .walpapper2 {
    width: 128px;
  }

  .article_block {
    font-size: 30px;
    width: 913px;
    height: 346px;
  }

  .article_img {
    width: 267px;
  }
}

@media screen and (max-width: 1000px) {
  .main_left {
    width: 456px;
    height: 456px;
  }

  .left_img {
  width: 50%;
  padding: 0px 30px;
  z-index: 1;
}

  .left_text {
    font-size: 14px;
  }

  .main_right {
    width: 456px;
    height: 456px;
  }

  .main_top {
    height: 315px;
  }

  .main_bottom {
    height: 128px;
    font-size: 14px;
  }

  .walpapper {
    width: 205px;
  }

  .walpapper2 {
    width: 103px;
  }

  .article_block {
    font-size: 24px;
    width: 730px;
    height: 277px;
  }

  .article_img {
    width: 221px;
  }
}

@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
  }

  .pc {
    display: none;
  }

  .phone1 {
    width: 214px;
  }

  .phone2 {
    width: 214px;
  }

  .phone_block {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 85px 5px;
    z-index: 1;
    position: relative;
  }

  .left_text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-image: url("../assets/img/phone_text.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 273px;
    margin-top: 23px;
    padding: 17px;
    z-index: 1;
  }

  .heart {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
  }

  .heart2 {
    position: absolute;
    z-index: 5;
    top: -200px;
    left: 0;
  }

  .main_bottom_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_bottom_mobile {
    background-image: url("../assets/img/main_bottom.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 91px;
    font-size: 3.4vw;
    z-index: 1;
    position: relative;
  }

  .article_block {
    font-size: 15px;
    width: 730px;
    height: 277px;
    padding: 17px;
  }

  .air {
  height: 40vh;
  }
}
